@import "../assets/variables/variables", "../assets/mixins/mixins", url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); 
* {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  background-color: $background;
}
#app {
  main {
    display: grid;
    height: max-content;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 5rem;
    padding: 4rem;
  }
}
